includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#Mouf\\\\MoufManager#"
        - "#Mouf\\\\MoufInstanceDescriptor#"
        - '#Method Mouf\\Database\\QueryWriter\\Utils\\FindParametersService::findParameters\(\) should return array<string> but returns array<int, int\|string>#'
